{% extends 'base.html.twig' %}


{% block body %}
    <h2 class="text-center">Comfirmation de compte</h2>
    <p class="text-break"> Bonjour un compte a était crée avec votre adresse pour le valider cliquez sur le bouton ci-dessous</p>
    <div class="text-center w-100">
        <a href="{{ link }}">
            <button class="btn btn-primary">Vérifier le compte</button>
        </a>
    </div>
{% endblock %}
