{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div id="app">
</div>
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}